/* Global */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("${import.meta.env.BASE_URL}assets/background.jpeg");
  background-size: cover;          /* Ensures it covers the whole screen */
  background-repeat: no-repeat;    /* Prevents tiling */
  background-attachment: fixed;    /* Keeps it in place while scrolling */
  background-position: center;     /* Centers the image */
  min-height: 100vh;  
}

body,
html,
#root {
  font-family: 'Arial', sans-serif;
  color: #e0e0e0;
}

.app {
  max-width: 100dvw;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}