.about-section {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
  flex-wrap: wrap;
}

.about-left {
  flex: 1 1 1%;
}

.about-left h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 4rem;
  text-align: center;
}

.about-left p {
  color: #8f8c8c;
  line-height: 1.7;
  font-size: 1.2rem;
}

.about-right {
  flex: 1;
}

.about-right h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}